/* main {
    display:flex;
    margin: 0;
} */

.quizheader {
    text-align: center;
}

.quiz {
    text-align: center;
}

.quizbox {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}

.resultsbox {
    text-align: center;
}